// Colors
$bg-color: #F2E8CF;
$text: #2F4F4F;
$accent: #8B4513;
$tan: #D2B48C;
$attention-accent: #ffd700;

// Fonts
$primary-font: 'Times New Roman', serif;

body {
  width: 90vw;
  font-family: $primary-font;
  color: $text;
  background-color: $bg-color;
  line-height: 1.5;
}

// Content
.content {
  padding: 1vw 3vw;
}

// Navbar
.main-header {
  position: sticky;
  top: 0;
  left: 0;
}
nav ul {
  list-style: none;


  a {
    color: $text;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    display: inline-block;
    transition: color 0.3s ease;
    text-decoration: none;

    &:hover {
      color: $accent;
    }
  }
  li {
    display: inline;
  }
}
.scrolltop {
  text-decoration: none;
}

footer {
  bottom: 0;
  left: 0;
  width: 100vw;
  background: $tan;
  font-size: .7em;
  text-align: center;
}
