// Colors
$bg-color: #F2E8CF;
$text: #2F4F4F;
$accent: #8B4513;
$tan: #D2B48C;
$attention-accent: #ffd700;

// Fonts
$primary-font: 'Times New Roman', serif;

body {
  width: 100vw;
  font-family: $primary-font;
  color: $text;
  background-color: $bg-color;
  line-height: 1.5;
  margin: 0;

}
#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// Content
#content-wrap {
  flex-grow: 1;
}

// Navbar
.main-header {
  position: sticky;
  height: 5.5rem;
  top: 0;
  left: 0;
  right: 0;
}
nav ul {
  list-style: none;


  a {
    color: $text;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    display: inline-block;
    transition: color 0.3s ease;
    text-decoration: none;

    &:hover {
      color: $accent;
    }
  }
  li {
    display: inline;
  }
}

// Footer
footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: $tan;
  font-size: .7em;
  text-align: center;
  text-decoration: none;

    .to_top {
      
      border-radius: 100%;
    }
  }
