<footer id="footer">
  <div class="footer_first">
    <p class="footer_statuts">
      <strong>Cercle de Recherches et d'Etudes Appliquées à la Thérapie InterPersonnelle</strong><br>
      Association loi 1901, statuts déposés en janvier 2005<br>
      46 avenue du Parmelan 74000 ANNECY
    </p>
    <p id="footer-eco">
      Ce site est éco-conçu, il vise à réduire son impact environnemental.<br>
      <div id="wcb" class="carbonbadge"></div>
      <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
      Eco-index : A
    </p>
  </div>
  <div class="footer-second">
    <p id="conception">
      un site de : <a href="https://github.com/Discopigeononline" target="_blank" rel="noopener noreferrer" class="creator">Disco Pigeon</a>
    </p>
  </div>
</footer>
