<header class="main-header">
  <div class="logo"></div>

  <nav>
    <ul>
      <li><a href="/formation/">Formation</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/recherche">Recherche</a></li>
      <li>
        <a href="/">
          <img src="/images/logo.png" alt="logo CREATIP" class="logo">
        </a>
      </li>
      <li><a href="/annuaire">Annuaire</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/apropos">À propos</a></li>
    </ul>
   </nav>
</header>
