<header class="main-header">

  <nav class="navbar" role="navigation" aria-label="Main Navigation">
    <a href="/" aria-label="Lien pour aller à la page d'accueil">
      <img src="/images/logo.svg" alt="logo CREATIP" class="logo">
    </a>
    <input type="checkbox" id="overlay-input" />
    <label for="overlay-input" id="overlay-button"><span></span></label>
      <div id="overlay">
        <menu id="menu">
          <ul >
            <li class="menu-item"><a href="/formation/" aria-label="Naviguer vers la page {{ .LinkTitle }}">Formation</a></li>
            <li class="menu-item"><a href="/actualités">Actualités</a></li>
            <li class="menu-item"><a href="/recherche">Recherche</a></li>
            <li class="menu-item"><a href="/annuaire">Annuaire</a></li>
            <li class="menu-item"><a href="#footer">Contact</a></li>
            <li class="menu-item"><a href="/apropos">À propos</a></li>
          </ul>
        </menu>
      </div>
   </nav>
</header>
