<header class="main-header">
  <div class="logo"></div>

  <nav class="navbar">
    <a href="/">
      <img src="/images/logo.png" alt="logo CREATIP" class="logo">
    </a>
    <input type="checkbox" id="overlay-input" />
    <label for="overlay-input" id="overlay-button"><span></span></label>
      <div id="overlay">
        <ul id="menu">
          <li class="menu-item"><a href="/formation/">Formation</a></li>
          <li class="menu-item"><a href="/news">News</a></li>
          <li class="menu-item"><a href="/recherche">Recherche</a></li>
          <li class="menu-item"><a href="/annuaire">Annuaire</a></li>
          <li class="menu-item"><a href="/contact">Contact</a></li>
          <li class="menu-item"><a href="/apropos">À propos</a></li>
        </ul>
      </div>
   </nav>
</header>
