{{ define "main" }}
  <div id="bg-hero" role="img" aria-label="Représentation de la fresque la Création d'Adam peinte par Michel-Ange sur la partie centrale de la voûte du plafond de la chapelle Sixtine">
    <div id="title-overlay">
      <h1 class="title">
        </span><span class="uppercase"></span><span class="uppercase"></span><span class="uppercase"></span><span class="uppercase"></span><span class="uppercase"></span><span class="uppercase"></span>
        <span class="title-item"><span class="uppercase">C</span>entre de<br></span>
        <span class="title-item"><span class="uppercase">R</span>echerche et<br></span>
        <span>d'<span class="uppercase">E</span>tudes<br></span>
        <span class="title-item"><span class="uppercase">A</span>ppliquées à la<br></span>
        <span class="title-item"><span class="uppercase">T</span>hérapie<br></span>
        <span class="title-item"><span class="uppercase">I</span>nter<br></span>
        <span class="title-item"><span class="uppercase">P</span>ersonnelle<br></span>
      </h1>
      <a id="slidedown" href="#content-wrap" aria-label="link to jump to first section">
        <svg  viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <g data-name="Layer 2"><path d="M16 1A15 15 0 1 1 1 16 15 15 0 0 1 16 1Zm0 28A13 13 0 1 0 3 16a13 13 0 0 0 13 13Z" fill="#ebb94d" class="fill-000000"></path><path d="M10.41 12.13 16 17.71l5.59-5.58a1 1 0 0 1 1.41 0 1 1 0 0 1 0 1.41l-6.36 6.36a.91.91 0 0 1-1.28 0L9 13.54a1 1 0 0 1 0-1.41 1 1 0 0 1 1.41 0Z" fill="#ebb94d" class="fill-000000"></path></g>
        </svg>
      </a>
    </div>
  </div>
<section id="content-wrap">
{{ .Content }}
</section>
{{ end }}
