{{ define "main" }}
  <div id="bg-hero" role="img" aria-label="Représentation de la fresque la Création d'Adam peinte par Michel-Ange sur la partie centrale de la voûte du plafond de la chapelle Sixtine">

      <h1 class="title">
        </span><span class="uppercase"></span><span class="uppercase"></span><span class="uppercase"></span><span class="uppercase"></span><span class="uppercase"></span><span class="uppercase"></span>
        <span class="title-item"><span class="uppercase">C</span>entre de<br></span>
        <span class="title-item"><span class="uppercase">R</span>echerche et<br></span>
        <span>d'<span class="uppercase">E</span>tudes<br></span>
        <span class="title-item"><span class="uppercase">A</span>ppliquées à la<br></span>
        <span class="title-item"><span class="uppercase">T</span>hérapie<br></span>
        <span class="title-item"><span class="uppercase">I</span>nter<br></span>
        <span class="title-item"><span class="uppercase">P</span>ersonnelle<br></span>
      </h1>

<div class="content-wrap">
{{ .Content }}
</div>
{{ end }}
